<div class="card">
    <header>
        <h5>Edit your Comment</h5>
    </header>
    <form class="card-body edit-form" data-id="{{comment.id}}">
        <div class="form-group">
            <label for="comment-text">Comment Text: </label>
            <textarea class="form-input" type="text" name="comment-text" id="comment-text" />{{comment.text}}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="update-comment" type="submit" data-id="{{comment.id}}">Update
                Comment</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary delete-button" type="button" data-id="{{comment.id}}">Delete
                Comment</button>
        </div>
    </form>
</div>

<script src="/js/editComment.js"></script>