<section class="card">
    <header>
        <h4>{{post.title}}</h4>
        <h6>Posted by {{post.user.name}} at {{format_date post.created_at}}</h6>
    </header>
    <p>{{post.text}}</p>
    <br>
    {{> comment-posted}}
    {{#if logged_in}}
    {{> comment}}
    {{/if}}
</section>